<%= render 'shared/error_messages', :object => f.object %>

<% unless @source.work_id.nil? %>
    <div class="control-group">
      <%= check_box_tag "source[work_id]", @source.work_id, true%>
      delete work association
    </div>
<% end %>

<div class="control-group">
  <%= f.label :content %>
  <%= f.text_area :content, :size=>"5x5" %>
</div>

<div class="control-group">
  <%= f.label "Related tags" %>
    <% for tag in current_user.tags %>
          <%= check_box_tag "source[tag_ids][]", tag.id, source_tag?(tag)%>
          <%= tag.name %>
    <% end %>
</div>
