<div class="well">
  <div class="pull-left">
    Created at <%= source.created_at.strftime("%A, %d %b %Y") %>
  </div>
  <div class="pull-right">
    Associated work link: <%= source.work_id %>
  </div>
  <div class="clearfix"></div>

  <hr style="margin-top:0px;">

  <p>
    <%= source.content.html_safe %>
  </p>

  <div class="pull-left">
    <% for tag in source.tags %>
        <span class="label label-warning"><%= tag.name %></span>
    <% end  %>
  </div>
  <div class="pull-right">
    Actions:
    <%= link_to "edit", edit_source_path(source), :class=>"btn btn-mini" %>
    <%= link_to "delete", source, :method => :delete, :confirm => "You sure?", :title => "Delete source", :class=>"btn btn-mini btn-danger" %>
  </div>
  <div class="clearfix"></div>

</div>



