<%= form_for(@routine, :html => { :class => "well form-inline" }) do |f| %>

    <fieldset>

      <legend>Add new route</legend>

      <%= render 'shared/error_messages', :object => f.object %>

      <%= render :partial=>'edit_time_select', :locals => {:time_label => "from", :time_value =>  @routine.from || "00:00"} %>

      <%= render :partial=>'edit_time_select', :locals => {:time_label => "to", :time_value =>  @routine.to || "00:00"} %>

      <div style="clear: both;"></div>

      <br>
      <label>Description</label><br>
      <%= f.text_field :description, {:class =>"input-large",:placeholder=>"Routine description"} %>

      <br><br>
      <label>Related category(-ies)</label><br>
      <%= collection_select(:routine, :category_ids, current_user.categories.order("name"), :id, :name, options = {:_prompt => '--Category--'}, html_options = {:multiple => true, :size => 5, :class=>"span2"})%>


      <div class="controls" style="margin-top:10px;">
        <label class="checkbox inline" >Days: </label>

        <% { 1=>"Mon", 2=>"Tue", 3=>"Wed", 4=>"Thu", 5=>"Fri", 6=>"Sat", 7=>"Sun"}.each do |key, value| %>
            <label class="checkbox inline">
              <input type="checkbox" name="routine[days][]" value="<%= key %>">
              <%= value %>
            </label>
        <% end %>

        <label class="checkbox inline">
          <input id="checkbox_all_days" type="checkbox" >
          All days
        </label>
      </div>


      <div class="controls" style="margin-top:10px;">
        <label class="checkbox inline" >Weeks: </label>

        <% [1, 2, 3, 4].each do |value| %>
            <label class="checkbox inline">
              <input name="routine[weeks][]" type="checkbox" value="<%= value %>">
              <%= value %>
            </label>
        <% end %>

        <label class="checkbox inline">
          <input id="checkbox_all_weeks" type="checkbox">
          All weeks
        </label>
      </div>


      <br>
      <label>Dates</label><br>
      <%= f.text_field :dates, {:class =>"input-large",:placeholder=>"Dates range"} %>
      <span class="help-block">Comma separated dates, ex. 1,2,3 or 12-15</span>

      <br>
      <%= f.submit "Add routine", :class=>"btn btn-primary", :id => "routine_submit" %>

    </fieldset>

<% end %>

<%= render 'all_checkbox_js' %>