<%= form_for(@routine, :html => { :class => "well form-inline" }) do |f| %>

    <fieldset>

      <legend>Add new route</legend>

      <%= render 'shared/error_messages', :object => f.object %>

      <div style="display: inline-block;float:left;margin-right: 20px;">
        <label class="control-label">From</label>
        <div class="controls">
          <select class="span1 time" name="routine[from_hour]">
            <option value="00" selected="selected">00</option>
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
          </select>
          :
          <select class="span1 time" name="routine[from_min]">
            <option value="00">00</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
          </select>
        </div>
      </div>


      <div>
        <label class="control-label">To</label>
        <div class="controls">
          <select class="span1 time" name="routine[to_hour]">
            <option value="00" selected="selected">00</option>
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
          </select>
          :
          <select class="span1 time" name="routine[to_min]">
            <option value="00">00</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
          </select>
        </div>
      </div>

      <br>
      <label>Description</label><br>
      <%= f.text_field :description, {:class =>"input-large",:placeholder=>"Routine description"} %>

      <br><br>
      <label>Related category(-ies)</label><br>
      <%= collection_select(:routine, :category_ids, current_user.categories.order("name"), :id, :name, options = {:_prompt => '--Category--'}, html_options = {:multiple => true, :size => 5, :class=>"span2"})%>


      <div class="controls" style="margin-top:10px;">
        <label class="checkbox inline" >Days: </label>

        <label class="checkbox inline">
          <input type="checkbox" name="routine[days][]" value="1">
          Mon
        </label>
        <label class="checkbox inline">
          <input type="checkbox" name="routine[days][]" value="2">
          Tue
        </label>
        <label class="checkbox inline">
          <input type="checkbox" name="routine[days][]" value="3">
          Wed
        </label>
        <label class="checkbox inline">
          <input type="checkbox" name="routine[days][]" value="4">
          Thu
        </label>
        <label class="checkbox inline">
          <input type="checkbox" name="routine[days][]" value="5">
          Fri
        </label>
        <label class="checkbox inline">
          <input type="checkbox" name="routine[days][]" value="6">
          Sat
        </label>
        <label class="checkbox inline">
          <input type="checkbox" name="routine[days][]" value="7">
          Sun
        </label>
        <label class="checkbox inline">
          <input id="checkbox_all_days" type="checkbox" >
          All days
        </label>
      </div>

      <div class="controls" style="margin-top:10px;">
        <label class="checkbox inline" >Weeks: </label>

        <label class="checkbox inline">
          <input name="routine[weeks][]" type="checkbox" value="1">
          1
        </label>
        <label class="checkbox inline">
          <input name="routine[weeks][]" type="checkbox" value="2">
          2
        </label>
        <label class="checkbox inline">
          <input name="routine[weeks][]" type="checkbox" value="3">
          3
        </label>
        <label class="checkbox inline">
          <input name="routine[weeks][]" type="checkbox" value="4">
          4
        </label>
        <label class="checkbox inline">
          <input id="checkbox_all_weeks" type="checkbox">
          All weeks
        </label>
      </div>

      <br>
      <label>Dates</label><br>
      <%= f.text_field :dates, {:class =>"input-large",:placeholder=>"Dates range"} %>
      <span class="help-block">Comma separated dates, ex. 1,2,3 or 12-15</span>

      <br>
      <%= f.submit "Add routine", :class=>"btn btn-primary", :id => "routine_submit" %>

    </fieldset>

<% end %>


<script language="JavaScript" >

  $(document).ready( function (){
    $('#checkbox_all_days').change(
        function (){
            $("input[name='routine[days][]']").attr('checked', this.checked);
        }
    )

    $('#checkbox_all_weeks').change(
        function (){
            $("input[name='routine[weeks][]']").attr('checked', this.checked);
        }
    )

  });


</script>