<%= render 'shared/error_messages', :object => f.object %>

<div class="control-group">
  <label>Start</label>
  <%= time_select("work", "from", {:minute_step => 10}, {:class=>"span1"}) %>
  <label>Finish</label>
  <%= time_select("work", "to", {:minute_step => 10}, {:class=>"span1"}) %>
</div>

<div class="control-group">
  <label>Please check related categories</label>
  <% for category in current_user.categories %>
      <div style="padding-left: 10px;">
        <%= check_box_tag "work[category_ids][]", category.id, @work.categories.include?(category) %>
          <%= category.name %>
      </div>
  <% end %>
</div>

<div class="control-group">
  <%= f.label :description %>
  <%= f.text_area :description, :size=>"43x4" %>
</div>
