<%= form_for(@work, :html => { :class => "well form-inline" }) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>

    From
    <input id="work_from_1i" type="hidden" value="<%= @current_day.year %>" name="work[from(1i)]">
    <input id="work_from_2i" type="hidden" value="<%= @current_day.month %>" name="work[from(2i)]">
    <input id="work_from_3i" type="hidden" value="<%= @current_day.day %>" name="work[from(3i)]">
    <%= time_select("work", "from", {:minute_step => 10, :ignore_date=>true}, {:class=>"span1 time"}) %>

    &nbsp;&nbsp;To
    <input id="work_to_1i" type="hidden" value="<%= @current_day.year %>" name="work[to(1i)]">
    <input id="work_to_2i" type="hidden" value="<%= @current_day.month %>" name="work[to(2i)]">
    <input id="work_to_3i" type="hidden" value="<%= @current_day.day %>" name="work[to(3i)]">
    <%= time_select("work", "to", {:minute_step => 10, :ignore_date=>true}, {:class=>"span1 time"}) %>

    <%= collection_select(:work, :category_ids, current_user.categories, :id, :name, options = {:prompt => '--Category--'}, html_options = {:multiple => false, :size => 1, :class=>"span2"})%>

    <%= f.text_field :description, {:class =>"input-large",:placeholder=>"Activity description"} %>

    <%= f.submit "Add activity", :class=>"btn btn-primary", :id => "work_submit" %>

<% end %>


<script language="JavaScript" >
  $(document).ready( function() {
    $("#work_submit").click( function (){
        // make validation before adding new activity
        from_h = $("#work_from_4i").val();
        from_m = $("#work_from_5i").val();

        to_h = $("#work_to_4i").val();
        to_m = $("#work_to_5i").val();

        from_id = parseInt(from_h*60) + parseInt(from_m);
        to_id = parseInt(to_h*60) + parseInt(to_m);

        //special case - 23:59 (selected 00;00)
        if( to_h == "00" && to_m == "00" ) {
            to_h = "23";
            to_m = "59";
            to_id = 1440;
        }


        // 1 case - from and start should not be equal
        if( from_h == to_h && from_m == to_m ) {
            showErrorMassage('Start and finish times can not be equal. Please set correct interval.');
            return false;
        }

        // 2 case - from value less than to value
        if( from_id > to_id ) {
            showErrorMassage('End time should be greater than start time. Please set correct interval.');
            return false;
        }

        // 3 case - time interval should not intersect
        from_id = $('#'+from_id+'[style*="green;"]').attr("id");
        to_id = $('#'+(to_id - 10)+'[style*="green;"]').attr("id");
        if( from_id || to_id) {
            showErrorMassage('Time intervals should not intersect with already added. Please set correct interval.');
            return false;
        }

        return true;
    });
  });

  function showErrorMassage( msg ){
      //$("form#new_work").before("<div class=\"alert alert-error\">"+msg+"</div>");
      alert( msg );
      //console.log($("form#new_work"));
  }
</script>

<%= render 'work_categories_js' %>

<%= render 'work_form_time_adjust_js' %>