<%= render 'shared/error_messages', :object => f.object %>

<div class="control-group">
  <label>Start</label>
  <%= time_select("work", "from", {:minute_step => 10}, {:class=>"span1 time"}) %>
  <label>Finish</label>
  <%= time_select("work", "to", {:minute_step => 10}, {:class=>"span1 time"}) %>
</div>

<div class="control-group">
  <label>Mark related categories</label>

  <select id="routine_category_ids" class="span2" size="5" name="work[category_ids][]" multiple="multiple">
    <% @catalogue.each do |id,level|
      category = @categories[id]
      if category
    %>
            <option value="<%=category.id%>" <%='selected' if @work.categories.include?(category)%> >
              <% level.times { %>&nbsp;&nbsp;<% } %>  <%=category.name%>
            </option>
        <%
           end
           end
        %>
  </select>

</div>

<div class="control-group">
  <%= f.label :description %>
  <%= f.text_area :description, :size=>"43x4" %>
</div>
