<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <label>Start</label>
  <%= time_select("work", "from", {:minute_step => 10}) %>
  &nbsp;&nbsp;
  <label>Finish</label>
  <%= time_select("work", "to", {:minute_step => 10}) %>
</div>

<div class="field">
  <label>Category</label><br>
  <%= collection_select(:work, :category_ids, @user.categories, :id, :name,
                        options = {:prompt => ''}, html_options = {:multiple => true, :size => @user.categories.count+1 })%>
</div>

<div class="field">
  <%= f.label :description %><br />
  <%= f.text_area :description, :size=>"43x4" %>
</div>


