<tr>
  <td><%= work.from %> </td>
  <td><%= work.to %> </td>
  <td><%= work.duration %> </td>
  <td><%= work.description %> </td>
  <td>
    <% for category in work.categories %>
        <%= category.name + '|' %>
       <% end  %>
  </td>
  <td><%= link_to "edit", edit_work_path(work) %></td>
  <td><%= link_to "delete", work, :method => :delete, :confirm => "You sure?", :title => work.description %></td>
  <td><%= link_to "add source", source_path(current_user, :work_id => work) %></td>
</tr>