<tr>
  <td><%= work.from %> </td>
  <td><%= work.to %> </td>
  <td><%= work.duration %> </td>
  <td><%= work.description %> </td>
  <td><%= link_to "delete", work, :method => :delete, :confirm => "You sure?", :title => work.description %></td>
</tr>