<%=
    render 'timeline'
%>

<%=
    render 'works'
%>

<%= form_for(@work, :html => { :class => "well"}) do |f| %>
    <fieldset>

      <legend>Data for new activity</legend>

      <%= render 'fields_edit', :f => f %>

      <div class="form-actions">
        <%= f.submit "Create activity", :class => "btn btn-primary" %>
      </div>

    </fieldset>
<% end %>