<div class="current_date">
  <%= link_to "<<", work_path(current_user, :d=>day_before(@current_day)), :class=>"btn btn-mini " %>
  <%= @current_day.strftime("%A, %d %b %Y") %>
  <%= link_to ">>", work_path(current_user, :d=>day_after(@current_day)), :class=>"btn btn-mini " %>
</div>

<%= render 'timeline' %>

<%= render 'works'%>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= render 'fields' %>

<%= render 'work_categories_js' %>

<%= render 'work_form_time_adjust_js' %>