<div class="current_date">
  <%= link_to "<<", work_path(current_user, :d=>day_before(@current_day)), :class=>"btn btn-mini " %>
  <%= @current_day.strftime("%A, %d %b %Y") %>
  <%= link_to ">>", work_path(current_user, :d=>day_after(@current_day)), :class=>"btn btn-mini " %>
</div>

<%= render 'timeline' %>

<%= render 'works'%>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= form_for(@work, :html => { :class => "well form-inline" }) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>

    From
    <input id="work_from_1i" type="hidden" value="<%= @current_day.year %>" name="work[from(1i)]">
    <input id="work_from_2i" type="hidden" value="<%= @current_day.month %>" name="work[from(2i)]">
    <input id="work_from_3i" type="hidden" value="<%= @current_day.day %>" name="work[from(3i)]">
    <%= time_select("work", "from", {:minute_step => 10, :ignore_date=>true}, {:class=>"span1 time"}) %>

    &nbsp;&nbsp;To
    <input id="work_to_1i" type="hidden" value="<%= @current_day.year %>" name="work[to(1i)]">
    <input id="work_to_2i" type="hidden" value="<%= @current_day.month %>" name="work[to(2i)]">
    <input id="work_to_3i" type="hidden" value="<%= @current_day.day %>" name="work[to(3i)]">
    <%= time_select("work", "to", {:minute_step => 10, :ignore_date=>true}, {:class=>"span1 time"}) %>

    <%= collection_select(:work, :category_ids, current_user.categories, :id, :name, options = {:prompt => '--Category--'}, html_options = {:multiple => false, :size => 1, :class=>"span2"})%>

    <%= f.text_field :description, {:class =>"input-large",:placeholder=>"Activity description"} %>

    <%= f.submit "Add activity", :class=>"btn btn-primary" %>

<% end %>

<%= render 'work_categories_js' %>

<%= render 'work_form_time_adjust_js' %>