<%= render 'period_menu' %>

<%= render 'weekpicker' %>

<table class="table table-striped">
  <thead>
      <tr>
        <th width="10%">Day</th>
        <th width="40%">Overview</th>
        <th width="40%"></th>
        <th width="10%"></th>
      </tr>
  </thead>
  <tbody>
      <% 7.times do |item| %>
      <tr >
        <td><%= humanize_days(@week_start_day.cwday().to_s)%>,<br> <%= @week_start_day.mday()%>/<%= @week_start_day.mon()%></td>
        <td>
          <% if @works_per_day[@week_start_day.mday()]
               total_min = @works_per_day[@week_start_day.mday()]
               percent = (total_min*100)/(24*60)
          %>
               Filled at <%=percent%>%, <%= humanize_duration total_min  %> from 24 h.
          <% else %>
               <% if @week_start_day > Date.today %>
                  <i>Future date</i>
               <% else %>
                  <i>No activity for current date</i>
               <% end %>
          <% end %>
        </td>
        <td>
          <div class="progress progress-striped">
            <div class="bar"
                 style="width: <%= percent || 0 %>%;"></div>
          </div>
        </td>
        <td>Edit</td>
      </tr>
      <% @week_start_day += 1.day %>
      <% end %>
  </tbody>
</table>