<div><%= @current_day %></div>

<div class="alert alert-info"> Timeline will be here</div>

<% unless @works.empty? %>
    <table class="table table-striped">
      <thead>
          <tr>
            <th width="5%">From</th>
            <th width="5%">To</th>
            <th width="8%">Duration</th>
            <th width="42%">Description</th>
            <th width="12%">Category</th>
            <th width="5%"></th>
            <th width="5%"></th>
            <th width="8%"></th>
          </tr>
      </thead>
      <%= render @works %>
    </table>
<% end %>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= form_for(@work, :html => { :class => "well form-inline" }) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  From
  <%= time_select("work", "from", {:minute_step => 10}, {:class=>"span1"}) %>
  &nbsp;
  To
  <%= time_select("work", "to", {:minute_step => 10}, {:class=>"span1"}) %>

  <%= collection_select(:work, :category_ids, @user.categories, :id, :name, options = {:prompt => '--Category--'}, html_options = {:multiple => false, :size => 1, :class=>"span2"})%>

  <%= f.text_field :description, {:class =>"input-large",:placeholder=>"Activity description"} %>
  <%= f.submit "Add activity", :class=>"btn btn-primary" %>
<% end %>
