<div><%= @current_day %></div>

<div class="alert alert-info"> Timeline will be here</div>

<% unless @user.works.empty? %>
    <table class="works" summary="User works">
      <%= render @works %>
    </table>
<% end %>

<%= form_for(@work, :html => { :class => "well form-inline" }) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  From
  <%= time_select("work", "from", {:minute_step => 10}, {:class=>"span1"}) %>
  &nbsp;
  To
  <%= time_select("work", "to", {:minute_step => 10}, {:class=>"span1"}) %>

  <%= collection_select(:work, :category_ids, @user.categories, :id, :name, options = {:prompt => '--Category--'}, html_options = {:multiple => false, :size => 1, :class=>"span2"})%>

  <%= f.text_field :description, {:class =>"input-large",:placeholder=>"Activity description"} %>
  <%= f.submit "Add activity", :class=>"btn btn-primary" %>
<% end %>
