<div class="margin10">

    <div><%= link_to "Settings", edit_user_path(current_user) %></div>
    <div><%= link_to "Categories", category_path(current_user) %></div>

    <div>Things that was done today</div>
    <% unless @user.works.empty? %>
        <table class="works" summary="User works">
          <%= render @works %>
        </table>
    <% end %>

    <br>

    <%= form_for @work do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <div class="field">
        <label>Start</label>
        <%= time_select("work", "from", {:minute_step => 10}) %>
        &nbsp;&nbsp;
        <label>Finish</label>
        <%= time_select("work", "to", {:minute_step => 10}) %>
      </div>
      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_area :description, :size=>"43x4" %>
      </div>

      <% for category in @user.categories %>
          <div>
            <%= check_box_tag "work[category_ids][]", category.id, false %>
            <%= category.name %>
          </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Add" %>
      </div>
    <% end %>

</div>