<%= form_for(@tag, :html => { :class => "well form-inline" }) do |f| %>
    <fieldset>

      <legend>Change tag</legend>

      <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

      <%= render 'fields', :f => f %>

      <%= f.submit "Update tag", :class=>"btn btn-primary" %>

    </fieldset>
<% end %>
