<% unless @user.tags.empty? %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Tag</th>
        <th></th>
      </tr>
      </thead>

      <%= render @tags %>

    </table>
<% end %>

<%= form_for(@tag, :html => { :class => "well form-inline" }) do |f| %>
    <fieldset>

      <legend>Add new tag</legend>

      <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

      <%= render 'fields', :f => f %>

      <%= f.submit "Add tag", :class=>"btn btn-primary" %>

    </fieldset>
<% end %>

