<tr>
  <td><%= category.name %> </td>
  <td><%= category.pcategory %> </td>
  <td><%= category.scope %> </td>
  <td><%= link_to "edit", edit_category_path(category) %></td>
  <td><%= link_to "delete", category, :method => :delete, :confirm => "You sure?", :title => category.name %></td>
</tr>