<% unless @user.categories.empty? %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th width="5%">Category name</th>
      <th width="5%">Parent category</th>
      <th width="8%">Scope</th>
      <th width="5%"></th>
      <th width="8%"></th>
    </tr>
    </thead>

    <%= render @categories %>

  </table>
<% end %>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= form_for(@category, :html => { :class => "well form-inline" }) do |f| %>
    <fieldset>

      <legend>Add new category</legend>

      <%= render 'fields', :f => f %>

      <%= f.submit "Add category", :class=>"btn btn-primary" %>

    </fieldset>
<% end %>

