<div class="span2">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Actions</li>
      <li class="<%= active_menu?('users#show') %>"><%= link_to "Works", user_path(current_user) %></li>
      <li class="<%= active_menu?('') %>"><a href="#">Search</a></li>
      <li class="<%= active_menu?('') %>"><a href="#">Reports</a></li>
      <li class="<%= active_menu?('sources') %>"><%= link_to "Resources", source_path(current_user) %></li>
      <li class="nav-header">Settings</li>
      <li class="<%= active_menu?('users#edit', false) %>"><%= link_to "Profile", edit_user_path(current_user) %></li>
      <li class="<%= active_menu?('categories') %>"><%= link_to "Categories", category_path(current_user) %></li>
      <li class="<%= active_menu?('tags') %>"><%= link_to "Tags", tag_path(current_user) %></li>
      <li><a href="#">Routins</a></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->